.svg-icon {
	height: 21px;
	width: 21px;
	display: inline-block;
	background-repeat: no-repeat;

	&.icon-search {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#search');
	}

	&.icon-collection {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#collection');
	}

	&.icon-cpu {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#cpu');
	}

	&.icon-gpu {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#gpu');
	}

	&.icon-ram {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#ram');
	}

	&.icon-hdd {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#hdd');
	}

	&.icon-mb {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#mb');
	}

	&.icon-power {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#power');
	}

	&.icon-cooler {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#cooler');
	}

	&.icon-periphery {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#periphery');
	}

	&.icon-block {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#block');
	}

	&.icon-other {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#other');
	}

	&.lines {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#lines');
	}

	&.flex-lines {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#flex-lines');
	}

	&.blocks {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#blocks');
	}

	&.icon-compare {
		filter: url(#black);
		background-image: url('../img/icons/icons.svg#compare');
	}

	&.icon-to-assemblage {
		filter: url(#black);
		background-image: url('../img/icons/icons.svg#to-assemblage');
	}

	&.icon-about {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#about');
	}

	&.icon-help {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#help');
	}

	&.icon-feedback {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#feedback');
	}

	&.icon-vk {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#vk');
	}

	&.icon-telegram {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#telegram');
	}

	&.icon-twitter {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#twitter');
	}

	&.icon-email {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#email');
	}

	&.icon-facebook {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#facebook');
	}

	&.icon-share {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#share');
	}

	&.icon-save-game {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#save-game');
	}

	&.icon-subscribe {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#subscribe');
	}

	&.icon-buy {
		background-image: url('../img/icons/icons.svg#buy');
	}

	&.icon-cancel {
		background-image: url('../img/icons/icons.svg#cancel');
	}

	&.icon-back-arrow {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#back-arrow');
	}

	&.icon-square-box {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#square-box');
	}

	&.icon-cancel-filter {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#cancel-filter');
	}

	&.icon-stars {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#stars');
	}

	&.icon-toggle-slider {
		filter: url(#white);
		background-image: url('../img/icons/icons.svg#toggle-slider');
	}

	&.icon-menu {
		filter: url(#white) url(#grey);
		background-image: url('../img/icons/icons.svg#menu');
	}
}
