.sidebar {
	&--assemblage {
		background-color: #212020;
		right: 0;
		width: 360px;
		border-left: 1px solid #1b1a1a;
		&--hidden {
			right: -360px;
		}
	}

	&__btn {
		&--assemblage {
			padding-right: 3px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			left: -36px;
		}
	}

	&__pc-parts {
		margin-top: 10px;
	}
}

.pc-parts {
	padding: 0 30px;
	position: relative;

	&__item {
		padding: 10px 0 15px 30px;
		font-size: 12px;
		border-bottom: 1px solid #1b1a1a;

		.pc-part--multiple:not(:first-child) {
			margin-top: 15px;
		}
	}

	&__add-item {
		margin-top: 12px;
		color: #bfbfbf;
		&:before {
			content: '+ ';
			font-size: 18px;
			font-weight: 700;
		}
	}

	&__choose-item {
		color: #bfbfbf;
		font-size: 14px;
		font-weight: 700;

		&:before {
			content: '+ ';
			font-size: 18px;
			font-weight: 700;
		}

		&[data-icon] {
			position: relative;

			.svg-icon {
				filter: url(#white) url(#red);
				position: absolute;
				left: -5px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__assemblage-number {
		font-size: 14px;
		color: #807979;
	}

	&__total {
		font-size: 12px;
		color: #afafaf;
	}
}

.pc-part {
	display: flex;

	&--current {
		font-size: 14px;
		color: #807979;
	}

	&__description {
		margin-right: auto;
	}

	&__title {
		display: flex;
		align-items: center;

		p {
			color: #da0b29;
			white-space: nowrap;
			max-width: 215px;
			position: relative;
			overflow-x: hidden;
			text-overflow: ellipsis;
			backface-visibility: hidden;
			// transform: translateZ(0);
		}

		&--gradient p:after {
			content: '';
			width: 25px;
			height: 100%;
			position: absolute;
			right: 0;
			background: linear-gradient(to left, #212020 20%, rgba(33, 33, 33, 0) 80%);
		}
	}

	&__details {
		color: #807979;
		max-width: 215px;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		position: relative;

		&--gradient:after {
			content: '';
			width: 25px;
			height: 100%;
			position: absolute;
			right: 0;
			background: linear-gradient(to left, #212020 20%, rgba(33, 33, 33, 0) 80%);
		}
	}

	&__price {
		color: #bfbfbf;
		font-size: 11px;
		position: relative;
		&:after {
			content: '₽';
			position: absolute;
			right: -10px;
		}
	}

	&:hover {
		.pc-part__price {
			color: #f9f9f9;
		}
	}

	&[data-conflictID] {
		.pc-part__title {
			position: relative;
		}
	}

	[data-icon] &__title {
		position: relative;

		.svg-icon {
			filter: url(#white) url(#red);
			position: absolute;
			left: -36px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__conflict-circle {
		position: absolute;
		left: -48px;
	}
}

.conflict-circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e0a006;
	cursor: pointer;
	// transition: transform 0.5s;

	&--hover,
	&--fixed {
		transform: scale(1.25);
	}
	&--fixed--prev {
		transform: none;
	}
}

.conflicts {
	&__title {
		width: 320px;
		margin-bottom: 20px;
		padding-left: 15px;
		line-height: 35px;
		font-size: 16px;
		font-weight: 700;
		color: #212020;
		background-color: #e0a006;
		border-radius: 3px;
	}

	&__body {
		padding-left: 12px;
	}

	&__item {
		font-size: 14px;
		color: #e0a006;
		padding: 5px 10px;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:before {
			content: '! ';
			font-size: 16px;
			font-weight: 700;
		}

		&--chosen:not(.conflicts__item--prev),
		&--hover:not(.conflicts__item--prev) {
			color: #212020;
			background-color: #e0a006;
			border-radius: 3px;
		}

		&--question {
			color: #bfbfbf;

			&:before {
				content: '? ';
			}
		}
	}
}

svg[data-conflictid] {
	display: none;
	&.hover {
		display: block;
	}
	&.fixed {
		display: block;
		&.fixed--prev {
			display: none;
		}
	}
}
