.sidebar--assemblage {
	width: 360px;

	.sidebar__title {
		padding-top: 30px;
		padding-right: 20px;
		display: flex;
		align-items: center;

		span:first-child {
			margin-right: auto;
		}
	}

	.sidebar__close-btn {
		margin-left: 10px;
	}

	.assemblage-items {
		padding: 0 0 15px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-y: auto;
		height: calc(100% - 81px);

		&__footer {
			margin: 10px 15px 10px 20px;
		}

		&__info {
			display: flex;
			justify-content: space-between;
		}

		&__name {
			font-size: 14px;
			color: #807979;
			background: 0 0;
			border-bottom: 1px solid #1b1a1a;
			margin-right: 30px;
			flex-grow: 1;
			padding-bottom: 3px;
		}

		&__total {
			font-size: 12px;
			color: #afafaf;
		}

		&__pages {
			margin-top: 15px;
			position: relative;

			.svg-icon {
				filter: url(#white) url(#grey);

				&:hover {
					filter: url(#white) url(#f9f9f9);
				}
			}

			.icon-steam {
				position: absolute;
				right: 0;
				top: 0;
				cursor: pointer;
			}

			.icon-vk {
				position: absolute;
				right: 26px;
				top: 0;
				cursor: pointer;
			}
		}
	}
}

.pc-parts {
	padding: 0 30px;
	position: relative;

	&__item {
		padding: 10px 0 15px 30px;
		font-size: 12px;
		border-bottom: 1px solid #1b1a1a;

		&:not(.pc-part--current) {
			cursor: pointer;
		}

		.pc-part--multiple:not(:first-child) {
			margin-top: 15px;
		}
	}

	&__add-item {
		margin-top: 12px;
		color: #bfbfbf;
		&:hover {
			color: #f9f9f9;
		}
		&:before {
			content: '+ ';
			font-size: 18px;
			font-weight: 700;
		}
	}

	&__choose-item {
		color: #bfbfbf;
		font-size: 14px;
		font-weight: 700;

		&:hover {
			color: #f9f9f9;
		}

		&:before {
			content: '+ ';
			font-size: 18px;
			font-weight: 700;
		}

		&[data-icon] {
			position: relative;

			.svg-icon {
				filter: url(#white) url(#red);
				position: absolute;
				left: -5px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.pc-part {
	display: flex;

	&:hover {
		.pc-part__cancel {
			display: block;
		}
	}

	&--current {
		font-size: 14px;
		color: #807979;
		position: relative;
	}

	&__description {
		min-width: 0;
		margin-right: auto;
		position: relative;
	}

	&__title {
		display: flex;
		align-items: center;

		p {
			color: #da0b29;
			white-space: nowrap;
			max-width: 215px;
			position: relative;
			overflow-x: hidden;
			text-overflow: ellipsis;
			backface-visibility: hidden;
			// transform: translateZ(0);
		}

		&--gradient p:after {
			content: '';
			width: 25px;
			height: 100%;
			position: absolute;
			right: 0;
			background: linear-gradient(to left, #212020 20%, rgba(33, 33, 33, 0) 80%);
		}
	}

	&__details {
		color: #807979;
		max-width: 215px;
		overflow-x: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		position: relative;

		&--gradient:after {
			content: '';
			width: 25px;
			height: 100%;
			position: absolute;
			right: 0;
			background: linear-gradient(to left, #212020 20%, rgba(33, 33, 33, 0) 80%);
		}
	}

	&__price {
		color: #bfbfbf;
		font-size: 11px;
		flex-shrink: 0;
		margin-left: 3px;
		position: relative;

		&:after {
			content: '₽';
			position: absolute;
			right: -10px;
		}
	}

	&:hover {
		.pc-part__price {
			color: #f9f9f9;
		}
	}

	&[data-conflict-id] {
		.pc-part__title {
			position: relative;
		}
	}

	[data-icon] &__title,
	&--current {
		position: relative;

		.svg-icon {
			filter: url(#white) url(#red);
			position: absolute;
			left: -36px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&--current .svg-icon {
		left: -6px;
	}

	&__conflict-circle {
		position: absolute;
		left: -48px;
	}

	&__current-icon {
		display: flex;
		width: 14px;
		justify-content: space-between;
		align-items: center;
		margin-right: 8px;

		span {
			display: inline-block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #807979;
		}
	}

	&__cancel {
		display: none;
		position: absolute;
		top: 50%;
		right: -21px;
		transform: translateY(-50%);
	}
}

.conflict-circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e0a006;
	cursor: pointer;
	// transition: transform 0.5s;

	&--hover,
	&--fixed {
		transform: scale(1.25);
	}
	&--fixed--prev {
		transform: none;
	}
}

.conflicts {
	&__title {
		max-width: 320px;
		margin-bottom: 10px;
		padding-left: 15px;
		line-height: 35px;
		font-size: 16px;
		font-weight: 700;
		color: #212020;
		background-color: #e0a006;
		border-radius: 3px;
	}

	&__item {
		font-size: 14px;
		color: #e0a006;
		padding: 5px 10px;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:before {
			content: '! ';
			font-size: 16px;
			font-weight: 700;
		}

		&--chosen:not(.conflicts__item--prev),
		&--hover:not(.conflicts__item--prev) {
			color: #212020;
			background-color: #e0a006;
			border-radius: 3px;
		}

		&--question {
			color: #bfbfbf;

			&:before {
				content: '? ';
			}
		}
	}
}

svg[data-conflict-id] {
	display: none;
	&.hover {
		display: block;
	}
	&.fixed {
		display: block;
		&.fixed--prev {
			display: none;
		}
	}
}
