.assemblage {
	width: 950px;
	background-color: #1b1a1a;
	padding: 0 10px 15px;

	section:not(:last-child) {
		padding-bottom: 25px;
		border-bottom: 1px solid #212020;
	}

	&__header {
		display: flex;
		padding: 25px 15px 0 10px;
	}

	&__title {
		font-size: 16px;
		color: #f9f9f9;

		width: 500px;
		padding-left: 8px;
		padding-bottom: 3px;
		border-bottom: 1px solid #212020;
	}

	&__price {
		margin-left: auto;
	}

	&__conflicts {
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;

		.conflicts {
			&__title {
				width: auto;
				padding: 0;
				line-height: normal;
				color: #e0a006;
				background-color: transparent;
			}

			&__body {
				display: flex;
				flex-wrap: wrap;
				font-weight: 400;
			}

			&__item {
				line-height: 25px;
				padding: 0 10px;

				&:not(:last-child) {
					margin-right: 30px;
					margin-bottom: 3px;
				}
			}
		}
	}
}

.assemblage-info {
	display: flex;
	justify-content: space-around;
	padding-top: 25px;
	color: #f9f9f9;

	&__block {
		display: flex;
		flex-direction: column;
		min-width: 310px;
		max-width: 475px;
	}

	&__title {
		font-size: 16px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		margin-top: 15px;
		padding-left: 25px;
		font-size: 14px;
	}

	&__field {
		display: flex;
		height: 30px;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		.year-rate__percentage {
			margin-left: auto;
		}

		.svg-icon {
			filter: url(#white);
			margin-left: 9px;

			&.icon-collection {
				margin-left: 0;
				margin-right: 9px;
			}
		}
	}
}

.assemblage-parts {
	position: relative;

	&__part {
		position: relative;
		&:not(:last-child) {
			border-bottom: 1px solid #212020;
		}
	}
}

.assemblage-parts .product {
	display: flex; //TODO wtf why you need it?
	flex-direction: column;
	max-height: 245px;
	padding: 10px 0;
	margin-left: 10px;

	.discount {
		z-index: 35;
	}

	&:last-child {
		padding-bottom: 20px;
	}

	&:hover .product__wrapper {
		box-shadow: none;
	}

	&--collapsed {
		.discount {
			width: 40px;
			height: 40px;

			div {
				width: 57px;
				padding: 2px 0;
				left: -3px;
				top: 6px;
				font-size: 10px;
			}
		}

		&:not(:last-child) {
			padding-bottom: 15px;
		}

		.product {
			&__title .product__link {
				height: 25px;
				width: 540px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__wrapper {
				height: 25px;
				margin-top: -28px;
			}

			&__main-part {
				padding-right: 28px;
			}

			&__button {
				background-color: transparent;

				&--big {
					width: 25px;
				}

				.svg-icon {
					flex-shrink: 0;
					filter: url(#white) url(#grey);
				}

				span {
					overflow: hidden;
				}
			}
		}
	}

	&__wrapper {
		position: relative;
		box-shadow: none;
		height: 179px;
	}

	&__title {
		display: flex;
		order: 0;
		z-index: 25;
		pointer-events: none;

		.product__link {
			background-color: #1b1a1a;
			overflow: hidden;
			display: inline-block;
			width: 100%;
			line-height: 25px;
			padding-right: 18px;
			position: relative;
			pointer-events: all;

			.svg-icon {
				position: relative;
				top: 5px;
			}

			.icon {
				display: inline-block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				&--arrow {
					width: 10px;
					height: 9px;
					background-image: url(../img/filter/filter__arrow.svg);
					right: 0px;
				}
			}
		}
	}

	&__image-wrapper {
		width: 356px;
		flex-shrink: 0;
		height: auto;

		&:after {
			background-image: radial-gradient(ellipse 40% 40%, transparent, 80%, #1b1a1a);
		}
	}

	&__main-part {
		padding: 0 20px;
		flex-grow: 1;
		max-width: unset;
		justify-content: flex-end;
	}

	&__hidden-description {
		margin: 30px auto 20px 0;
	}
}

.product-info {
	width: 100%;
	padding-top: 0;
}
