.sidebar--filter,
.sidebar--nav {
	width: 320px;
}

.sidebar--nav {
	display: none;

	.sidebar-list {
		&__item {
			border-bottom: 0;
			padding: 15px 0 15px 15px;
		}
		&__link {
			display: flex;
			align-items: center;
			color: #f9f9f9;

			.svg-icon {
				margin-right: 5px;
			}
		}
	}

	@media (max-width: 1625px) {
		display: block;
	}
}

.fake-checkbox {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	position: relative;
	margin-right: 5px;

	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 1px;
		left: 1px;
		width: 6px;
		height: 6px;
		background-color: #f9f9f9;
		border-radius: 3px;
		opacity: 0;
		transition: opacity 0.2s;
	}
}

.filter {
	font-size: 14px;
	font-weight: 400;

	&:not(.filter--selected) {
		.filter__item:not(.filter__item--disabled):hover .filter__icon--except {
			display: inline;
		}
	}

	label {
		cursor: pointer;
	}

	&__icon {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: transform 0.2s;

		&--arrow {
			width: 10px;
			height: 9px;
			background-image: url(../img/filter/filter__arrow.svg);
			right: -15px;
		}

		&--except {
			cursor: pointer;
			display: none;
			margin-right: 10px;

			@media (max-width: 768px) {
				display: inline;
			}
		}
	}

	&__item {
		&--disabled {
			color: #807979;

			label {
				cursor: default;
			}

			.fake-checkbox {
				border-color: #807979;
			}

			.filter__icon--except {
				display: none;
			}
		}
	}

	&__checkbox {
		display: none;

		&:checked {
			& + .fake-checkbox::before {
				opacity: 1;
			}

			&,
			& ~ span {
				color: #f9f9f9;
				transition: color 0.2s;
			}
		}
	}

	&__name {
		display: inline-flex;
		align-items: center;
		padding: 13px 0;
		font-weight: 700;
		width: calc(100% - 25px);
		position: relative;
		transition: color 0.2s;
		min-height: 21px + 2 * 13px;
		&--active {
			color: #f9f9f9;

			.filter__icon_arrow {
				transform: translateY(-50%) rotate(180deg);
			}
		}
		.svg-icon {
			flex-shrink: 0;
		}
		.icon-square-box {
			margin-right: 5px;
		}

		.icon-cancel-filter {
			margin-left: 10px;
		}
	}

	&__items-wrapper {
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s;

		.filter__items-list {
			padding-left: 15px;
		}
	}

	&__items-list {
		padding: 18px 0;
	}

	&__item {
		display: flex;
		justify-content: space-between;

		&:not(:last-of-type) {
			margin-bottom: 18px;
		}
	}
}

.sidebar-list {
	height: calc(100% - 75px);
	overflow-y: auto;
	padding-left: 10px;
	padding-right: 5px;

	&__item {
		padding-left: 15px;
		border-bottom: 1px solid #1b1a1a;
	}
}
