.sidebar {
	position: absolute;
	top: 125px;
	height: 100%;
	z-index: 30;
	background-color: #212020;
	color: #bfbfbf;
	font-family: Verdana;
	font-size: 14px;
	line-height: 1rem;
	transition: all 0.5s;

	&--filter {
		left: 0;
		width: 320px;
		border-right: 1px solid #1b1a1a;

		&--hidden {
			left: -320px;
		}
	}

	&__btn {
		width: 36px;
		height: 44px;
		border-radius: 3px;
		background-color: #212020;
		border: 1px solid #1b1a1a;
		position: absolute;
		top: 22px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		cursor: pointer;

		&--filter {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			right: -36px;

			span {
				display: inline-block;
				height: 2px;
				background-color: #f9f9f9;

				&:not(:last-of-type) {
					margin-bottom: 4px;
				}

				&:nth-of-type(1) {
					width: 16px;
					margin-right: 14px;
				}

				&:nth-of-type(2) {
					width: 8px;
					margin-right: 18px;
				}

				&:nth-of-type(3) {
					width: 4px;
					margin-right: 20px;
				}
			}
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		padding: 38px 0 20px 25px;
		border-bottom: 1px solid #1b1a1a;
	}
}

.fake-checkbox {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #f9f9f9;
	border-radius: 5px;
	position: relative;
	margin-right: 5px;

	&::before {
		content: "";
		position: absolute;
		display: block;
		top: 1px;
		left: 1px;
		width: 6px;
		height: 6px;
		background-color: #f9f9f9;
		border-radius: 3px;
		opacity: 0;
		transition: opacity 0.2s;
	}
}

.filter {
	font-size: 14px;
	font-weight: 400;

	label {
		cursor: pointer;
	}

	&__icon {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: transform 0.2s;

		&--arrow {
			width: 10px;
			height: 9px;
			background-image: url(../img/filter/filter__arrow.svg);
			right: -15px;
		}
	}

	&__item {
		&--disabled {
			color: #807979;

			label {
				cursor: default;
			}

			.fake-checkbox {
				border-color: #807979;
			}
		}
	}

	&__checkbox {
		display: none;

		&:checked {
			& + .fake-checkbox::before {
				opacity: 1;
			}

			&,
			& ~ span {
				color: #f9f9f9;
				transition: color 0.2s;
			}
		}
	}

	&__name {
		display: inline-block;
		padding: 13px 0;
		font-weight: 700;
		width: calc(100% - 25px);
		position: relative;
		transition: color .2s;

		&--active {
			color: #f9f9f9;

			.filter__icon_arrow {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&__items-count {
	}

	&__items-wrapper {
		max-height: 0;
		overflow: hidden;
		transition: all .5s;

		.filter__items-list {
			padding-left: 15px;
		}
	}

	&__items-list {
		padding: 18px 0;
	}

	&__item {
		&:not(:last-of-type) {
			margin-bottom: 18px;
		}
	}

	&__item-quantity {
	}
}

.sidebar-list {
	height: calc(100% - 74px);
	overflow-y: auto;
	padding-left: 10px;
	padding-right: 5px;

	&__item {
		padding-left: 15px;
		border-bottom: 1px solid #1b1a1a;
	}
}

// ::-webkit-scrollbar {
// 	width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
// 	background: #fff;
// 	width: 1px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// 	background: #bfbfbf;
// 	border-radius: 10px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
// 	background: #555;
// }
