.footer {
	width: 100%;
	max-width: 950px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #f9f9f9;
	border-radius: 3px;
	margin-top: 30px;

	@media (max-width: 950px) {
		justify-content: center;

		&__item:first-of-type {
			margin-bottom: 14px;
		}
	}

	&__item {
		background-color: #1b1a1a;
		padding: 25px 10px 22px;
	}

	&__logo {
		width: 50px;
		margin-right: 40px;
		margin-left: 30px;

		@media (max-width: 425px) {
			margin: 20px 0 20px 0;
		}
	}

	&__links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&__link {
		// margin-top: 15px;
		display: inline-flex;
		align-content: center;
		line-height: 21px;

		// &:not(:last-child) {
		// 	margin-right: 36px;
		// }
	}
}

.about-block {
	display: flex;
	width: 721px;

	.footer__link {
		margin: 15px 18px 0 18px;
	}

	@media (max-width: 425px) {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}
}

.contacts {
	width: 209px;
	padding: 25px 25px 20px 25px;

	&__list {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	&__item {
		&:last-child {
			text-align: center;
		}

		&:not(:last-child) {
			.svg-icon {
				margin-right: 5px;
			}
		}
	}
}
