.footer {
	width: 950px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #f9f9f9;
	border-radius: 3PX;

	&__item {
		margin-top: 30px;
		background-color: #1b1a1a;
		padding: 25px 10px 22px;
	}

	&__logo {
		width: 50px;
		margin-right: 40px;
		margin-left: 30px;
	}

	&__links {
		margin-top: 15px;
		display: flex;
		justify-content: center;
	}

	&__link {
		&:not(:last-child) {
			margin-right: 36px;
		}
	}

	&__icon {
		&_about-project {
		}

		&_help {
		}

		&_hot-game {
		}

		&_email {
		}

		&_facebook {
		}

		&_twitter {
		}

		&_vk {
		}

		&_telegram {
		}
	}
}

.about-block {
	display: flex;
	width: 721px;

	&__wrapper {
		display: flex;
	}

	&__info {
	}
}

.contacts {
	width: 209px;
	text-align: center;

	&__list {
	}

	&__item {
	}
}
