.header {
	font-family: 'Verdana';
	font-size: 14px;
	background-color: #1b1a1a;

	&__logo {
		margin-right: auto;
	}

	&__container {
		display: flex;
		max-width: 1150px;
		height: 75px;
		margin: 0 auto;
		padding: 0 10px;
		align-items: center;
		border-bottom: 1px solid #212020;

		.icon-menu {
			display: none;
			transform: scaleX(-1);
			width: 30px;
			height: 30px;
			transition: all 0.5s;

			&--opened {
				transform: scaleX(1);
			}

			@media (max-width: 768px) {
				display: inline-block;
			}
		}
	}

	&__buttons {
		display: inline-flex;
		align-items: center;
		@media (max-width: 768px) {
			position: fixed;
			left: -260px;
			top: 0;
			background-color: #1b1a1a;
			bottom: 0;
			z-index: 100;
			width: 260px;
		}
	}

	&__button {
		display: inline-flex;
		align-items: center;
		color: #bfbfbf;
		font-weight: 700;

		&--search {
			margin-right: 30px;

			&.search-bar--active .search-bar__wrapper {
				border-bottom: 1px solid #212020;
			}
		}

		.svg-icon:not(.icon-search) {
			margin-right: 8px;
		}
	}

	&__sign {
		margin-left: 24px;
		height: 100%;
		transition: left 0.5s;

		@media (max-width: 768px) {
			position: fixed;
			margin: 0;
			padding: 10px;
			width: 260px;
			top: 0;
			left: -260px;
			bottom: 0;
			background-color: #1b1a1a;
			z-index: 100;

			&--opened {
				left: 0;
			}
		}
	}
}

.logo-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 234px;
	height: 100%;
	background-color: #da0b29;

	&:hover &__icon {
		filter: drop-shadow(0px 0px 5px #fff);
	}

	&__icon {
		margin-right: 12px;
	}

	&__text {
		font-family: 'MyriadPro';
		color: #f9f9f9;
		font-size: 16px;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
	}
}

.main-icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	background: url('../img/main-logo.svg') no-repeat;
}

.sign {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	color: #bfbfbf;

	&--desktop {
		@media (max-width: 768px) {
			display: none;
		}
	}

	&--mobile {
		display: none;
		color: #f9f9f9;

		.sign {
			&__title {
				font-size: 16px;
				text-align: center;
				margin-top: 120px;
			}

			&__subtitle {
				font-size: 12px;
				left: 42%;
				position: relative;
			}
		}

		@media (max-width: 768px) {
			display: block;
		}
	}

	&__type {
		cursor: pointer;

		&--sign-in {
			margin-right: 5px;
		}
	}

	&__methods {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.svg-icon {
			margin: 0 3px;
		}
	}
}

.sign-form {
	&__item {
		margin: 15px 20px;

		&:last-child {
			margin-top: 30px;
			text-align: center;
		}
	}

	input[type='checkbox'] {
		display: none;

		&:checked {
			& + .fake-checkbox::before {
				opacity: 1;
			}

			&,
			& ~ span {
				color: #f9f9f9;
				transition: color 0.2s;
			}
		}
	}
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding: 0 65px 0 65px;
	position: relative;

	&__list {
		display: flex;
		white-space: nowrap;
		overflow: hidden;
		color: #f0f0f0;

		.svg-icon {
			margin-right: 8px;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;

		&:last-child {
			margin-right: 35px;
		}
	}

	@media (max-width: 1625px) {
		display: none;
	}
}
