.header {
	font-family: "Verdana";
	font-size: 14px;
	background-color: #1b1a1a;

	&__container {
		display: flex;
		max-width: 1150px;
		height: 75px;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #212020;
	}

	&__button {
		display: inline-flex;
		align-items: center;
		color: #bfbfbf;
		font-weight: 700;

		&--search {
			margin-right: 36px;
		}

		.svg-icon {
			margin-right: 8px;
		}
	}
}

.logo-header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 234px;
	height: 100%;
	background-color: #da0b29;

	&:hover &__icon {
		filter: drop-shadow(0px 0px 5px #fff);
	}

	&__icon {
		margin-right: 12px;
	}

	&__text {
		font-family: "MyriadPro";
		color: #f9f9f9;
		font-size: 16px;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
	}
}

.main-icon {
	height: 50px;
	width: 50px;
	display: inline-block;
	background: url('../img/main-logo.svg') no-repeat;
}

.svg-icon {
	height: 21px;
	width: 21px;
	display: inline-block;
	background-repeat: no-repeat;

	&.icon-search {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#search");
	}

	&.icon-collection {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#collection");
	}

	&.icon-cpu {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#cpu");
	}

	&.icon-gpu {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#gpu");
	}

	&.icon-ram {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#ram");
	}

	&.icon-hdd {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#hdd");
	}

	&.icon-mb {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#mb");
	}

	&.icon-power {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#power");
	}

	&.icon-cooler {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#cooler");
	}

	&.icon-periphery {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#periphery");
	}

	&.icon-block {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#block");
	}

	&.icon-other {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#other");
	}

	&.lines {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#lines");
	}

	&.flex-lines {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#flex-lines");
	}

	&.blocks {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#blocks");
	}

	&.icon-compare {
		filter: url(#black);
		background-image: url("../img/icons/icons.svg#compare");
	}

	&.icon-to-assemblage {
		filter: url(#black);
		background-image: url("../img/icons/icons.svg#to-assemblage");
	}

	&.icon-about {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#about");
	}
	
	&.icon-help {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#help");
	}

	&.icon-feedback {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#feedback");
	}

	&.icon-vk {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#vk");
	}

	&.icon-telegram {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#telegram");
	}

	&.icon-twitter {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#twitter");
	}

	&.icon-email {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#email");
	}

	&.icon-facebook {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#facebook");
	}

	&.icon-share {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#share");
	}

	&.icon-save-game {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#save-game");
	}

	&.icon-subscribe {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#subscribe");
	}
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;

	&__list {
		display: flex;
		color: #f0f0f0;

		.svg-icon {
			margin-right: 8px;
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;

		&:last-child {
			margin-right: 35px;
		}
	}
}
