.header {
	font-family: "Verdana";
	font-size: 14px;
	background-color: #1b1a1a;
	color: #f0f0f0;
	&__container {
		display: flex;
		max-width: 1150px;
		height: 75px;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		color: #bfbfbf;
		border-bottom: 1px solid #212020;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 234px;
		height: 100%;
		background-color: #da0b29;
		font-family: "MyriadPro";
		color: #f9f9f9;
		font-size: 16px;
		span {
			//font-family: "MyriadPro-bold";
			font-weight: 700;
			font-size: 24px;
		}
		img {
			width: 50px;
			margin-right: 13px;
		}
		&:hover img {
			filter: drop-shadow(0px 0px 5px #fff);
		}
	}
	&__links {
		.svg-icon {
			margin-right: 8px;
		}
		& .header__link:not(:last-child) {
			margin-right: 36px;
		}
	}
	&__link {
		display: inline-flex;
		align-items: center;
	}
}

.svg-icon {
	height: 21px;
	width: 21px;
	display: inline-block;
	background-repeat: no-repeat;
	&.icon-search {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#search");
	}
	&.icon-collection {
		filter: url(#white) url(#grey);
		background-image: url("../img/icons/icons.svg#collection");
	}
	&.icon-cpu {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#cpu");
	}
	&.icon-gpu {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#gpu");
	}
	&.icon-ram {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#ram");
	}
	&.icon-hdd {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#hdd");
	}
	&.icon-mb {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#mb");
	}
	&.icon-power {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#power");
	}
	&.icon-cooler {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#cooler");
	}
	&.icon-periphery {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#periphery");
	}
	&.icon-block {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#block");
	}
	&.icon-other {
		filter: url(#white);
		background-image: url("../img/icons/icons.svg#other");
	}
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	&__list {
		display: flex;
		.svg-icon {
			margin-right: 8px;
		}
	}
	&__link {
		display: inline-flex;
		align-items: center;
		&:last-child {
			//TODO
			margin-right: 35px;
		}
	}
}

.hidden-svg {
	position: absolute;
	top: 0;
	z-index: -100;
}
