.section {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	&__title {
		background-color: #212020;
		border-radius: 3px;
		border: 1px solid #1b1a1a;
		height: 40px;
		padding-left: 13px;
		padding-right: 24px;
		color: #bfbfbf;
		font-weight: 700;
		margin-bottom: 20px;
		display: inline-flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 14px;
		.svg-icon {
			margin-right: 15px;
		}
	}

	&__products {
		max-width: 970px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -10px auto;
	}

	&__product {
		margin: 10px;
	}

	&__slider-container {
		padding: 0 55px;
		position: relative;

		// @media (max-width: 425px) {
		// 	padding-left: 0;
		// }
	}

	.product--short {
		width: 340px;
		height: 450px;

		.product {
			&__wrapper {
				height: 100%;
				display: flex;
				flex-direction: column;
			}
			&__image-wrapper {
				width: 100%;

				&:after {
					background-image: radial-gradient(ellipse 40% 40%, transparent, 80%, #1b1a1a);
				}
			}
			&__title {
				&--overflow {
					.product__name:after {
						content: '...';
					}
				}

				.svg-icon {
					height: 14px;
					width: 14px;
					filter: url(#white);
				}

				.product__author {
					font-size: 14px;
					color: #807979;
				}
			}
			&__main-part {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
			}
			&__description {
				font-size: 14px;
				color: #bfbfbf;
				margin-top: 14px;
			}

			&__price-and-buttons {
				flex-grow: 1;
				align-items: flex-end;
			}
		}
	}
}

.section-slider {
	position: relative;

	&:not(.reached-end):after {
		content: '';
		width: 50px;
		height: 100%;
		position: absolute;
		z-index: 35;
		top: 0;
		right: 0;
		background: linear-gradient(to left, #222222 20%, rgba(33, 33, 33, 0) 80%);
	}

	&__btn {
		width: 40px;
		height: 40px;
		border-radius: 3px;
		background-color: #212020;
		border: 1px solid #1b1a1a;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 25;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&--disabled {
			opacity: 0;
			pointer-events: none;
		}

		&--next {
			right: 0px;
			.svg-icon {
				transform: rotate(180deg);
			}
		}

		&--prev {
			left: 0px;
		}

		&--toggle {
			top: unset;
			transform: none;
			right: 0px;
			bottom: 0;
		}

		.svg-icon {
			filter: url(#white) url(#grey);
		}
	}
}

.slider-container {
	.swiper-container {
		max-width: 950px;
	}

	.product__description {
		@include trim(3);
	}

	&--opened {
		padding: 0;
		.section-slider {
			margin: -10px;
			max-width: 1080px;

			&:after {
				content: none;
			}

			.swiper-wrapper {
				flex-wrap: wrap;
				justify-content: center;
			}

			.swiper-slide {
				margin: 10px;
			}

			&__btn {
				&--toggle {
					.svg-icon {
						transform: rotate(180deg);
					}
				}
				&:not(.section-slider__btn--toggle) {
					display: none;
				}
			}
		}
	}
}
