.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: calc(100vh - 125px - 24px); //100vh - header - margin
	max-width: 1060px;
	margin: 24px auto 0;
	padding: 0 10px;
	box-sizing: content-box;
	font-family: Verdana, sans-serif;
	font-weight: 700;

	&--full-width {
		max-width: 100%;

		.section {
			&__header {
				max-width: 1060px;
				margin: 0 auto 20px;
			}

			&__products {
				max-width: 100%;
			}
		}
	}

	@media (max-width: 1625px) {
		min-height: calc(100vh - 75px - 24px);
	}

	@media (max-width: 425px) {
		padding: 0 5px;
	}
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

// TODO remove appropriate styles to the swiper-slide
.product--short {
	width: 340px;
	height: 450px;

	.product {
		&__wrapper {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		&__assembly-score {
			font-size: 14px;
			color: #807979;
			font-weight: 700;
			position: absolute;
			top: 15px;
			left: 20px;
			z-index: 1;
		}

		&__image-wrapper {
			width: 100%;
		}

		&__title {
			&--overflow {
				.product__name:after {
					content: '...';
				}
			}

			.svg-icon {
				height: 14px;
				width: 14px;
				filter: url(#white);
			}

			.product__author {
				font-size: 14px;
				color: #807979;
			}
		}
		&__main-part {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}
		&__description {
			font-size: 14px;
			color: #bfbfbf;
			margin-top: 14px;
		}

		&__price-and-buttons {
			flex-grow: 1;
			align-items: flex-end;
		}
	}
}

.section-slider {
	position: relative;

	&:after,
	&:before {
		content: '';
		width: 50px;
		height: 100%;
		position: absolute;
		z-index: 35;
		top: 0;
		transition: opacity 0.2s;
		pointer-events: none;

		@media (max-width: 425px) {
			width: 5px;
		}
	}

	&:after {
		right: 0;
		background: linear-gradient(to left, #222222 20%, rgba(33, 33, 33, 0) 100%);

		@media (max-width: 425px) {
			background: linear-gradient(to left, #222222 0%, rgba(33, 33, 33, 0) 100%);
		}
	}

	&:before {
		left: 0;
		background: linear-gradient(to right, #222222 20%, rgba(33, 33, 33, 0) 100%);

		@media (max-width: 425px) {
			background: linear-gradient(to right, #222222 20%, rgba(33, 33, 33, 0) 100%);
		}
	}

	&--reach-end {
		&:after {
			opacity: 0;
		}
	}

	&--reach-beg {
		&:before {
			opacity: 0;
		}
	}

	&__btn {
		width: 40px;
		height: 40px;
		border-radius: 3px;
		background-color: #212020;
		border: 1px solid #1b1a1a;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 25;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		@media (max-width: 425px) {
			top: unset;
			bottom: -50px;
			transform: unset;
		}

		&--disabled {
			opacity: 0;
			pointer-events: none;
		}

		&--next {
			right: 0px;
			.svg-icon {
				transform: rotate(180deg);
			}

			@media (max-width: 425px) {
				right: 10px;
			}
		}

		&--prev {
			left: 0px;

			@media (max-width: 425px) {
				left: 10px;
			}
		}

		&--toggle {
			top: unset;
			transform: none;
			right: 0px;
			bottom: 0;

			@media (max-width: 425px) {
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.svg-icon {
			filter: url(#white) url(#grey);
		}
	}
}

.slider-container {
	.swiper-container {
		max-width: 950px;
	}

	.swiper-slide {
		margin: 10px;

		&.product--short {
			@media (max-width: 425px) {
				margin: 5px;

				.product {
					&__rating {
						margin-right: 10px;
					}

					&__price {
						flex-shrink: 0;
					}

					&__button--big {
						width: 110px;
						flex-shrink: 1;

						span {
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				}
			}
		}

		@media (max-width: 375px) {
			width: calc(100vw - 10px);
			min-width: 310px;
		}
	}

	.product__description {
		@include trim(3);
	}

	&--opened {
		padding: 0;
		.section-slider {
			margin: -10px;
			max-width: 1080px;

			&:after,
			&:before {
				display: none;
			}

			.swiper-wrapper {
				flex-wrap: wrap;
				justify-content: center;
			}

			&__btn {
				&--toggle {
					.svg-icon {
						transform: rotate(180deg);
					}
				}
				&:not(.section-slider__btn--toggle) {
					display: none;
				}
			}
		}
	}
}
