.section__product-page {
	max-width: 100%;
	width: 950px;
	margin: 0 auto;
}

.product-page {
	&__item {
		background-color: #1b1a1a;
		border-radius: 3px;
		box-shadow: 0px 0px 4.5px 0.5px rgba(126, 37, 37, 0.2);
		overflow: hidden;

		&:hover {
			box-shadow: 0px 0px 13.5px 1.5px rgba(126, 37, 37, 0.5);
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.product-card {
	.product {
		&:hover {
			.product__wrapper {
				box-shadow: none;
			}
		}
		&--long {
			max-height: 100%;
		}
		&__wrapper {
			max-height: 100%;
			flex-wrap: wrap;
			box-shadow: none;
		}

		&__title {
			order: 1;
			padding: 17px 17px 20px;
			display: block !important;
		}

		&__photos {
			order: 2;
			max-width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__link {
		}

		&__image-wrapper {
			max-width: 100%;
			height: 285px; //TODO
		}

		&__image {
		}

		&__main-part {
			order: 3;
			// flex-grow: 1;
			align-items: center;
			justify-content: center;
		}

		&__price-and-buttons {
			order: 1;
		}

		&__price {
			margin-left: 0;
		}

		&__price-value {
		}

		&__button {
			&--compare {
			}

			&--to-build {
			}
		}

		&__icon {
			&--compare {
			}

			&--to-build {
			}
		}

		&__hidden-description {
			margin: 35px 0 13px 0;
		}

		&__score {
			order: 3;
			margin-bottom: 25px;
		}

		&__rating {
			order: 4;
		}
	}
}

.product-slider {
	margin: 0;
	height: 56px;
	width: 100%;
	position: relative;

	&__item {
		width: auto;
	}

	&__button {
		position: absolute;
		top: 0;
		height: 56px;
		width: 30px;
		cursor: pointer;
		z-index: 30;
		transition: opacity 0.5s;

		&_next {
			right: 0;
			background: linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(27, 26, 26, 1) 60%,
				rgba(27, 26, 26, 1) 100%
			);

			.svg-icon {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		&_prev {
			left: 0;
			background: linear-gradient(
				270deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(27, 26, 26, 1) 60%,
				rgba(27, 26, 26, 1) 100%
			);

			.svg-icon {
				transform: translateY(-50%);
			}
		}

		&_disabled {
			opacity: 0;
			pointer-events: none;
		}

		.svg-icon {
			position: relative;
			top: 50%;
			filter: url(#white) url(#grey);
		}
	}
}

.product-info {
	&__field {
	}

	&__title {
	}

	&__value {
	}
}

.product-score {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 33px;
	height: 30px;
	font-size: 14px;
	color: #f9f9f9;

	&__rating {
		margin-right: 10px;
		margin-left: -32px;
	}

	&__year-rate {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.product-score-rating {
	font-weight: 700;
	position: relative;
	display: inline-flex;
	height: 30px;
	width: 30px;
	line-height: 30px;
	justify-content: center;
}

.percent-circle,
.rate-ring {
	position: absolute;
	top: 0;
	left: 0;
	circle {
		transform-origin: center;
		transform: rotate(-90deg);
	}
}

.year-rate {
	display: inline-flex;
	height: 30px;
	align-items: center;
	font-weight: 400;
	padding-left: 10px;
	border-left: 1px solid #212020;

	&__percentage {
		margin: 0 12px;
		display: inline-flex;
		height: 30px;
		align-items: center;
	}

	&__value {
		position: relative;
		font-size: 11px;
		margin-right: 5px;
		display: inline-flex;
		height: 30px;
		width: 30px;
		line-height: 30px; //align-items: center ?
		justify-content: center;
	}

	&__year {
		display: inline-block;
		width: 60px;
		height: 18px;
		border-radius: 2px;
		text-align: center;
		background-color: #f9f9f9;
		color: #1b1a1a;
	}
}

.product-rating {
	max-width: 330px;
	width: 100%;
	min-height: 49px;
	text-align: center;

	&__value {
		text-align: center;
	}

	&__average {
		display: inline-block;
		margin-bottom: 5px;
		font-size: 18px;
		color: #da0b29;

		@media (max-width: 1625px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__max {
		font-size: 14px;
		color: #807979;
		font-weight: 400;
	}

	&__stars {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;

		@media (max-width: 1625px) {
			justify-content: space-between;
		}
	}

	&__stars[data-total-value='1'] &__star:nth-child(n + 11),
	&__stars[data-total-value='2'] &__star:nth-child(n + 10),
	&__stars[data-total-value='3'] &__star:nth-child(n + 9),
	&__stars[data-total-value='4'] &__star:nth-child(n + 8),
	&__stars[data-total-value='5'] &__star:nth-child(n + 7),
	&__stars[data-total-value='6'] &__star:nth-child(n + 6),
	&__stars[data-total-value='7'] &__star:nth-child(n + 5),
	&__stars[data-total-value='8'] &__star:nth-child(n + 4),
	&__stars[data-total-value='9'] &__star:nth-child(n + 3),
	&__stars[data-total-value='10'] &__star:nth-child(n + 2) {
		color: #da0b29;
	}

	&__value {
	}

	&__star {
		color: #adadad;
		cursor: pointer;
		font-size: 21px;
		margin-right: 12px;
		&:hover,
		&:hover ~ & {
			color: #696969;
		}

		@media (max-width: 1625px) {
			margin-right: 0;
		}
	}

	&__note {
		font-size: 12px;
		font-weight: 400;
		color: #807979;

		&--hidden {
			pointer-events: none;
			opacity: 0;
		}
	}
}

.product-tabs {
	font-weight: 400;
	color: #bfbfbf;

	&__items {
		display: flex;
		font-size: 16px;
		padding-left: 34px;
		margin: 0 10px;
		border-bottom: 1px solid #212020;
		overflow: auto;

		@media (max-width: 768px) {
			padding-bottom: 10px;
		}
	}

	&__item {
		margin-top: 12px;
		padding: 0 16px 10px;
		cursor: pointer;

		&[data-tab='photos'] {
			display: none;

			@media (max-width: 768px) {
				display: list-item;
			}
		}

		&:not(:last-child) {
			margin-right: 10px;
		}

		&--active {
			border-bottom: 2px solid #da0b29;
			color: #f9f9f9;
			font-weight: 700;
		}
	}

	&__block {
		display: none;
		font-size: 14px;

		&--active {
			display: block;
		}
	}
}

.product-shops {
	@media (max-width: 768px) {
		padding: 0 10px;

		&__shop {
			flex-direction: column;
		}
	}
}

.product-shop {
	display: flex;
	align-items: center;
	padding: 15px 0;
	position: relative;

	@media (max-width: 768px) {
		&__image {
			margin-bottom: 10px;
		}

		&__description {
			margin-left: 0;
		}

		&__footer {
			margin-left: 0;
			margin-bottom: 10px;
		}
	}

	&:not(:last-child) {
		border-bottom: 1px solid #212020;
	}

	.discount {
		width: 40px;
		height: 40px;

		div {
			width: 57px;
			padding: 2px 0;
			left: -3px;
			top: 6px;
			font-size: 10px;
		}
	}

	&--out-of-stock {
		.product-shop__footer-item {
			color: #807979;
		}

		.product-shop__footer-item-value {
			color: #bfbfbf;
		}
	}

	&__image-wrapper {
		width: 180px;
		margin: 0 40px;
	}

	&__image {
		max-width: 180px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__product-title {
		font-size: 14px;
		color: #f9f9f9;
	}

	&__description {
		color: #807979;
		margin: 15px 0 15px 10px;
		min-height: 28px;
	}

	&__footer {
		margin-left: 10px;
		font-size: 12px;
	}

	&__footer-item-value {
		font-weight: 700;
	}

	&__price {
	}
}

.product-description {
	&__text {
		margin: 25px 30px 20px;
		line-height: 24px;
	}

	&__image-wrapper {
		width: 100%;
	}

	&__image {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}

.product-price {
	width: 204px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;

	&__button {
		display: inline-block;
		cursor: pointer;

		&--to-store {
			margin-top: 12px;
			width: 110px;
			height: 25px;
			background-color: #da0b29;
			font-weight: 700;
			color: #1b1a1a;
			border-radius: 3px;
			text-align: center;
			line-height: 25px;
		}
	}
}

.product-specs {
	padding: 0 30px;

	&__item {
		margin-top: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #212020;
	}

	&__title {
		font-size: 16px;
	}

	&__list {
		margin: 20px 0 0 20px;
	}

	&__list-item {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__list-item-name {
		display: block;
		width: 40%;
		padding-right: 15px;
		overflow: hidden;
		span {
			display: inline-block;
			position: relative;

			&::after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 100%;
				content: '........................................................................';
			}
		}
	}

	&__item-value {
		color: #f9f9f9;
		padding-left: 15px;
		width: 60%;
		margin-left: 4px;

		&--link {
			color: #da0b29;
		}
	}

	@media (max-width: 768px) {
		padding: 0 10px;
	}
}

.specs-footnotes {
	padding: 30px 0;
	color: #807979;

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.product-comments {
	&__form-wrapper {
		margin: 0 10px;
		padding: 0 10px;
		border-bottom: 1px solid #212020;
	}

	&__auth {
		margin: 0 auto;
		padding: 30px 0;
		text-align: center;
		border-bottom: 1px solid #212020;
	}

	&__sign-in {
		display: inline-flex;
		align-items: center;
		color: #da0b29;

		.icon-circle {
			margin-left: 4px;
			width: 16px;
			height: 16px;
		}
	}

	&__comment-form {
	}

	&__comment {
		margin-right: 30px;
	}
}

.comment-form {
	padding: 30px 0;

	textarea {
		padding: 14px 17px;
		margin-bottom: 13px;
		display: block;
		width: 100%;
		border: 1px solid #212020;
		resize: vertical;
		min-height: 80px;
		font-size: 14px;
		background-color: inherit;
		color: #807979;

		&:focus {
			border: 1px solid #2b2a2a;
			color: #bfbfbf;
		}
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		margin-top: -10px;

		.svg-icon {
			flex-shrink: 0;
		}
	}

	&__reply-to {
		display: inline-flex;
		align-items: center;
		margin-top: 10px;

		.icon-cancel-filter {
			cursor: pointer;
		}
	}

	&__reply-username {
		color: #f9f9f9;
	}

	&__button {
		margin-top: 12px;
		margin-left: auto;
		display: inline-flex;
		align-items: center;
		background-color: #bfbfbf;
		color: #1b1a1a;
		border-radius: 3px;
		font-weight: 700;
		height: 25px;
		padding: 0 12px 0 5px;

		.icon-back-arrow {
			filter: none;
			transform: scaleX(-1);
		}
	}
}

.product-comment {
	min-height: 114px;
	display: flex;
	border-bottom: 1px solid #212020;
	position: relative;

	&:hover {
		.comment-vote__btn {
			visibility: visible;
		}
		.product-comment__respond-btn {
			opacity: 1;
		}
	}
	&--good {
		border-left: 3px solid #da0b29;
		.comment-vote__rating {
			color: #da0b29;
		}
	}

	&--bad {
		.product-comment__text {
			color: #807979;
		}
	}

	&:last-child {
		border-bottom: 0;
	}

	&_response {
		margin-left: 55px;

		@media (max-width: 768px) {
			margin-left: 30px;
		}
	}

	&__left {
		width: 100px;
		margin-right: 10px;
		position: relative;
	}

	&__avatar {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		margin-left: 13px;
		margin-top: 16px;
	}

	&__social-icon {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	&__right {
		flex: 1;
		padding: 10px 0;
	}

	&__header {
		display: flex;
	}

	&__author,
	&__recipient {
		color: #f9f9f9;
	}

	&__author {
		font-weight: 700;
	}

	&__vote {
		margin-left: auto;
	}

	&__text {
		min-height: 28px;
		margin: 18px 0 18px 10px;
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__rating {
		font-size: 12px;
		margin-left: 10px;

		.product-rating__value {
			font-size: 14px;
			font-weight: 700;
			color: #da0b29;
		}

		.product-rating__star[data-value='1'] {
			margin-left: 15px;
		}
	}

	&__responded-to {
		font-weight: 400;
		color: #807979;
	}

	&__respond-btn {
		opacity: 0;
		margin-left: auto;

		&--pressed {
			opacity: 1;
			filter: url(#white) url(#red);
		}
	}
}

.comment-vote {
	&__rating {
		font-weight: 700;
	}
	&__btn {
		width: 21px;
		height: 21px;
		background-repeat: no-repeat;
		display: inline-block;
		filter: url(#white);
		vertical-align: middle;
		cursor: pointer;
		visibility: hidden;
		background-image: url('../img/vote-down.svg');

		&--up {
			transform: rotate(180deg);
		}
	}
}

.product-modal {
	display: none;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);

	&__close {
		color: white;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;

		&:hover,
		&:focus {
			color: #999;
			cursor: pointer;
		}
	}

	&__content {
		width: 90%;
		max-width: 1200px;
		margin: auto;
		position: relative;
	}

	&__img {
		display: none;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__prev,
	&__next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		user-select: none;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&__prev {
		border-radius: 0 3px 3px 0;
	}

	&__next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
}

@media (max-width: 768px) {
	.product-card .product {
		&__wrapper {
			flex-direction: column;
		}

		&__photos {
			max-width: 100%;
		}

		&__slider {
			display: none;
		}

		&__main-part {
			max-width: 100%;
		}
	}
}
