.section {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	&:last-child {
		margin-bottom: 20px;
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__title {
		background-color: #212020;
		border-radius: 3px;
		border: 1px solid #1b1a1a;
		height: 40px;
		padding-left: 13px;
		padding-right: 24px;
		color: #bfbfbf;
		font-weight: 700;
		display: inline-flex;
		align-items: center;
		text-transform: uppercase;
		font-size: 14px;
		margin-right: auto;
		min-width: 0;

		&--back {
			cursor: pointer;
		}

		.svg-icon {
			margin-right: 15px;
			flex-shrink: 0;

			& + span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				direction: rtl;
			}
		}
	}

	&__button {
		background-color: #212020;
		border-radius: 3px;
		border: 1px solid #1b1a1a;

		&--search {
			margin: 0 11px;

			&.search-bar--active .search-bar__wrapper {
				border-bottom: 1px solid #1b1a1a;
			}
		}

		&--view-types,
		&--actions {
			width: 108px;
			height: 40px;

			display: inline-flex;
			justify-content: space-evenly;
			align-items: center;

			span {
				cursor: pointer;
			}
		}

		&--view-types {
			@media (max-width: 425px) {
				display: none;
			}
		}
	}

	&__products {
		max-width: 970px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -10px auto;

		@media (max-width: 768px) {
			.product--long {
				height: 350px;
				max-width: 465px;

				width: auto;
				max-height: unset;

				.product {
					&__wrapper {
						display: block;
						max-height: unset;
					}

					&__image-wrapper {
						max-width: 465px;
					}

					&__main-part {
						max-width: unset;
						width: auto;
						display: block;
						padding: 0 20px 20px 20px;
					}

					&__title {
						order: unset;
					}

					&__hidden-description {
						order: unset;
						display: none;
						margin: 20px 0 0 0;
						overflow: unset;
						border-top: 1px solid #212020;
						mask-image: none;

						p:last-of-type {
							padding-bottom: unset;
						}
					}

					&__price-and-buttons {
						order: unset;
						margin-top: 12px;
					}
				}
				&:hover {
					.product__wrapper {
						z-index: 20;
						box-shadow: 0 0 13.5px 1.5px rgba(126, 37, 37, 0.5);
					}

					.product__hidden-description {
						display: block;
					}
				}
			}
		}
	}

	&__product {
		margin: 10px;

		@media (max-width: 425px) {
			margin: 5px 0 5px 0;
		}
	}

	&__slider-container {
		margin: -10px 0;
		padding: 0 55px;
		position: relative;

		@media (max-width: 425px) {
			padding: 0;
			margin-bottom: 50px;
			margin: -5px -5px 50px -5px;
		}
	}

	&__pagination {
		margin: 20px 0 10px;
	}

	&__assembalge {
		margin: 0 auto;
	}
}
