.sidebars {
	position: sticky;
	top: 0;
	z-index: 100;
}

.sidebar {
	height: 100vh;
	color: #bfbfbf;
	font-family: Verdana;
	font-size: 14px;
	line-height: 1rem;
	position: absolute;
	top: 0;
	transition: transform 0.5s;
	z-index: 30;
	background-color: #212020;

	&--upper {
		.sidebar__btn {
			padding-right: 14px;
			justify-content: flex-end;
		}
	}

	&--lower {
		background-color: transparent;
		border-right: none;
		pointer-events: none;

		.sidebar__title,
		.sidebar-list {
			opacity: 0;
		}
		.sidebar__btn {
			pointer-events: all;
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 44px;
		border-radius: 3px;
		background-color: #212020;
		border: 1px solid #1b1a1a;
		position: absolute;
		cursor: pointer;

		&--filter,
		&--nav {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
			right: -36px;
		}

		&--filter {
			top: 22px;
		}

		&--nav {
			top: 85px;
		}

		&--assemblage {
			top: 22px;
			left: -36px;
			padding-right: 3px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}
	}

	&__btn-icon {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 14px;

		span {
			display: inline-block;
			height: 2px;
			background-color: #f9f9f9;
		}
		&--filter span {
			&:nth-of-type(1) {
				width: 16px;
			}

			&:nth-of-type(2) {
				width: 8px;
			}

			&:nth-of-type(3) {
				width: 4px;
			}
		}

		&--nav span {
			width: 16px;
			&:not(:last-of-type) {
				margin-bottom: 4px;
			}
		}
	}

	&__container {
		overflow: hidden;
		background-color: #212020;
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		padding: 38px 0 20px 25px;
		border-bottom: 1px solid #1b1a1a;
	}
}

.sidebar {
	&__pc-parts {
		margin-top: 10px;
	}

	&__conflicts {
		margin: 0px 20px;
	}
}
