.sidebars {
	position: sticky;
	top: 125px;
	z-index: 100;

	@media (max-width: 1625px) {
		top: 75px;
	}

	&__left {
		&--hidden .sidebar {
			transform: translateX(-100%);
		}

		&:not(.sidebars__left--hidden) .sidebar--upper .sidebar__btn {
			padding-right: 0;
		}

		.sidebar {
			left: 0;
			right: unset;
			border-right: 1px solid #1b1a1a;

			&--lower {
				border-right: none;
			}

			&--filter {
				.sidebar {
					&__btn {
						top: 147px;
						@media (max-width: 1625px) {
							top: 97px;
						}
					}
				}
			}

			&--nav {
				.sidebar {
					&__btn {
						top: 210px;
						@media (max-width: 1625px) {
							top: 160px;
						}
					}
				}
			}

			&__btn {
				left: unset;
				right: -36px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: none;
				padding-right: 14px;
			}
		}

		@media (max-width: 549px) {
			display: none;
		}
	}

	&__right {
		&--hidden .sidebar {
			transform: translateX(100%);
		}

		&:not(.sidebars__right--hidden) .sidebar--upper .sidebar__btn {
			padding-left: 0;
		}

		.sidebar {
			left: unset;
			right: 0;
			border-left: 1px solid #1b1a1a;

			&--lower {
				border-left: none;
			}

			@media (max-width: 549px) {
				width: 100%;
			}

			&--assemblage {
				.sidebar {
					&__btn {
						top: 147px;
						@media (max-width: 1625px) {
							top: 97px;
						}
						@media (max-width: 549px) {
							top: 80px;
						}
					}
				}
				@media (max-width: 549px) {
					.sidebar__close-btn {
						display: inline;
					}
				}
			}

			&--filter {
				display: none;

				.sidebar {
					&__btn {
						top: 128px;
					}
				}
				@media (max-width: 549px) {
					display: block;
				}
			}

			&--nav {
				display: none;

				.sidebar {
					&__btn {
						top: 176px;
					}
				}
				@media (max-width: 549px) {
					display: block;
				}
			}

			&__title {
				span:first-child {
					margin-right: auto;
				}
			}

			&__btn {
				left: -36px;
				right: unset;
				padding-left: 14px;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;

				@media (max-width: 549px) {
					left: -42px;
					padding-left: 0;
				}
			}
		}
	}
}

.sidebar {
	height: 100vh;
	color: #bfbfbf;
	font-family: Verdana;
	font-size: 14px;
	line-height: 1rem;
	position: absolute;
	top: -125px;
	transition: transform 0.5s;
	z-index: 30;
	background-color: #212020;

	@media (max-width: 1625px) {
		top: -75px;
	}

	&--lower {
		background-color: transparent;
		pointer-events: none;

		.sidebar__title,
		.sidebar-list {
			opacity: 0;
		}
		.sidebar__btn {
			pointer-events: all;
		}
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 44px;
		border-radius: 3px;
		background-color: #212020;
		border: 1px solid #1b1a1a;
		position: absolute;
		cursor: pointer;

		@media (max-width: 549px) {
			width: 42px;
			height: 42px;
		}
	}

	&__btn-icon {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 14px;

		span {
			display: inline-block;
			height: 2px;
			background-color: #f9f9f9;
		}
		&--filter span {
			&:nth-of-type(1) {
				width: 16px;
			}

			&:nth-of-type(2) {
				width: 8px;
			}

			&:nth-of-type(3) {
				width: 4px;
			}
		}

		&--nav span {
			width: 16px;
			&:not(:last-of-type) {
				margin-bottom: 4px;
			}
		}
	}

	&__container {
		overflow: hidden;
		background-color: #212020;
	}

	&__title {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 700;
		padding: 38px 20px 20px 25px;
		border-bottom: 1px solid #1b1a1a;
	}
}

.sidebar {
	&__pc-parts {
		margin-top: 10px;
	}

	&__conflicts {
		margin: 0px 20px;
	}
}
