@import "nullstyle";
@import "mixins";
@import "fonts";

body {
	background-color: #222;
	overflow-x: hidden;
}

.hidden-svg {
	position: absolute;
	top: 0;
	z-index: -100;
}

@import 'header';

@import 'filters';

@import 'graphicCards';

@import 'product';

@import 'footer';
